/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 body{
    width: 90%;
    margin: auto;
} 
.container-fluid{
    
    background-color: rgb(205, 205, 243);
}

h1{
    text-align: center;
    padding: 10px;
    color: darkblue;
}

.estiloPuntos{
    font-weight: bold;
}

.noticia{
    border: 3px solid blue;
    width: 300px;
    
}

