*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin: auto;
    border: 3px solid blue;
    padding: 20px;
}
th{margin: 5px;
    padding: 10px;
}
td{
    text-align: justify;   
    padding-left: 70px;
    align-items: center;
    
}
h1{
    text-align: center;
    padding: 10px;
    color: darkblue;
}

