table{
    border: 3px solid blue;
    background-color: rgb(252, 252, 252);
    margin: auto;
    padding: 20px;
}

th{
    font-size: 20px;
    padding: 10px;
}

td{
    padding: 10px;
    font-size: 20px;
    width: auto;
    
    align-items: center;
}

h1{
    text-align: center;
    color: darkblue;
}
